// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.imageform input, .imageform label, .imageform textarea, .imageform select {
  display: block;
  margin: 0.75em;
}

.imageform textarea {
  resize: none;
}
