// Place all the styles related to the Images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.imageform input, .imageform label, .imageform textarea, .imageform select {
  display: block;
  margin: 0.75em;
  max-width: 85%;
}

.imageform textarea {
  resize: none;
}

.image-container {
  width: 60%;
  max-width: 700px;
  margin: auto;
  margin-top: 50px;
  overflow-wrap: break-word;
}

@media only screen and (max-width: 768px) {
  .image-container {
    width: 90%;
  }
}

.image-container img {
  width: 100%;
  max-height: 85vh;
  object-fit: contain;
}
